*{
    margin:0;
    padding:0;
    /*
    border: 1px solid red;
    
*/

}
body{
    background-color:rgb(226,240,243);
}
.table td{
border: 2px solid black;
background-color: whitesmoke;
}
.nav-item{
    text-align: center;
}
.table tr td > i.fa-star {
	color: #f39c12;
}
.table tr td > i.fa-bookmark {
	color: #e74c3c;
}
.table a{
text-decoration: none;
}
.Calculator_Box{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: white;
    border-radius: 15%;
}
.MainPageText{
    text-align: center;
    width: 100%;
    height: 100%;
}
.MainPageText h1{
    font-size: 5rem;
    color: white;
    margin-top: 3rem;
}
.Main{
    height: 100vh;
    margin:0;
    padding: 0;
}
.Header{
    height: 10vh;
    box-shadow: 0px 6px 40px 4px rgb(181, 209, 216);
}
.Spheres{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}
.Sphere{
    background-color: white;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    box-shadow: 3px 3px 20px 4px rgb(196, 204, 206);
}
.TextRectangles{
    width: 100%;
height: 100%;
display: flex;
justify-content: space-evenly;

}

.Footer{
    width: 100%;
    display: flex;
    height: auto;
    justify-content:space-between;
}
.Footer h1{
    color: white;
    font-size: 1rem;
    text-decoration: underline white;
}
.Footer h2{
    color: white;
    font-size: 1rem;    
}
.Rectangle{
    margin: 1rem;
    margin-top: 2rem;
    width: 29rem;
height: 3rem;
background-color: white;
box-shadow: 3px 3px 10px 4px rgb(196, 204, 206);
border-radius: 10px;
}
.Rectangle h1{
    text-align: center;
    font-size: 1.5rem;
    color: black;
    padding-top: 0.5rem;;
}
.SuperRectangle{
    padding:1rem;
}
.SuperRectangle h1{
    font-size: 1.5rem;
    color:black;
}
.Exp{
    background-color: red;
    width: 100px;
    height: 100px;
}
.SuperRectangle{
    margin: 1rem;
    margin-top: 2rem;
    width: 29rem;
height: 20rem;
background-color: white;
box-shadow: 3px 3px 10px 4px rgb(196, 204, 206);
border-radius: 10px;
}
.ThirdSphere{
    margin-top: 10%;
    background-color: white;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    box-shadow: 3px 3px 20px 4px rgb(196, 204, 206);
}
.ThirdSphere h2{
    padding-top: 5.5rem;
}
.Sphere h2{
    padding-top: 5.5rem;
}
.Blocks{
    display: flex;
    justify-content:space-evenly;
    padding: 8px;
    align-items: center;
    border: 1px solid rgb(154, 179, 185);
border-bottom: 0px;    
}
.Blocks div a{
    font-family: 'Pushster', cursive;
    font-family: 'Spline Sans', sans-serif;
    color:black;
    font-size: large;    
    text-decoration: none;
}

.Blocks div img{
    width: 50px;
    height: auto;
}
.Main_Page{
    margin: 5rem;
}
.joly h1{
    font-size: 1.15rem;
}

.joly h1:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.3s;
    
}  
  .joly h1{

    transition: 0.3s;
  }

.BgImage {
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./Images/AITU_MAIN.jpg);
    background-position:center;
    background-size: cover;
    position: relative;
}
.Proto_Profile{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: ivory;
    width: 1300px;
    height: 600px;
    border-radius: 10px;
    border:2px solid rgb(241, 241, 208);
}
.Another_header{
    display: inline-block;
    height: -50%;
    transform:translate(-270%,-300%);
}
.Profile_image{
    display: inline-block;
    width: 60%;
}
.Profile_image form input{
    background-color: slategrey;
    border-radius: 0px;
}
.Profile_image img{
    border: 2px solid black;
    width: 16%;
    height: auto;
    padding:29px;
}
.Proto_Files{
    position: absolute;
    top:20%;
    left:50%;
    transform:translate(-50%,-20%);
}
.Main_Page .Proto_Files table {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: ivory;
}
.Upload_Button{
    border-radius: 4px;
    border-color:white;
    width: 150px;
    height: 30px;
    font-size: 16px;
font-weight: 400;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Main_Page .Proto_Files table th{
    text-align: center;
    border: 1px solid black;
    padding: 8px;
    padding-left: 50px;
    padding-right: 50px;
    font-size:large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Main_Page .Proto_Files table td{
    text-align: center;
    border: 1px solid black;
    padding: 8px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
}

/*Bootstrap*/

/*Headers*/
.col-md-3{
    width: 150px;
}

.card-body img{
    width: 40%;
    height: auto;
}

.text-secondary {
    left: -80%;
}

.pt-3 {
    font-weight: bold;
    font-size: 150%;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
}

.navbar-light .navbar-brand img{
    width: 70px;
    height: auto;
}

.navbar-light .navbar-nav .nav-link.active{
    height: auto;
    width: 200px;
}

.bg-light{
    height: 100px;
}
.News_bar div img{
 height: auto;  
}
.bg-image img{
width: 600px;
height: 300px;
}
/*Headers*/

/*Bootstrap*/
.Button_Sort{
    display: flex;
    margin: 50px;
    justify-content: space-evenly;
    margin-top: 125px;
}

.Btn_Sort{
    display: flex;
    margin: 50px;
    justify-content: space-evenly;
    text-align: center;
}

.BTSort{
    display: flex;
    margin: 50px;
    justify-content: space-evenly;
    text-align: center;
}
.sidebar a{ 
    margin-left: 10px; 
    display: block; 
    padding-bottom: 10px; 
    font-size: 20px; 
    text-decoration: none; 
    color: rgba(var(--bs-secondary-rgb),var(--bs-text-opacity)) !important; 
} 
 
.card{ 
    position: relative; 
    display: flex; 
    flex-direction: column; 
} 
 
 
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'); 
 
.text-input { 
  border: 1px solid #dadada; 
  height: 40px; 
  padding: 10px 20px; 
  vertical-align: top; 
  width: calc(100% - 104px); 
} 
.bttnAccept { 
  background: #75b97e; 
  border: 0; 
  border-right: 1px solid #cbcbcc; 
  height: 52px; 
  width: 52px; 
  border-radius: 10% ; 
  margin-left: 1%; 
} 
 
.bttnCancel { 
    background: #ca6058; 
    border: 0; 
    border-right: 1px solid #cbcbcc; 
    height: 52px; 
    width: 52px; 
    border-radius: 10%  
}  
.bttnAccept:hover { 
  background: #03da1f; 
} 
.dropdown-menu li a{
    font-size: 1.2rem;
}
.bttnCancel:hover { 
    background: #d81f11; 
} 
.newslent h4{
    color: white;
}
.newslent p{
    color:red;
}
.bttnAccept + .bttnCancel{ 
    margin-left: 1%; 
} 
 
.btn-group .dropdown-menu a { 
    display: block; 
    text-decoration: none; 
} 
 
.btn-group .dropdown-menu a:hover { 
    color: blueviolet; 
    background-color: #dadada; 
} 
 
.btn-group ul{ 
    width: 250px; 
    padding: 20px; 
} 
 
.navbar-light .navbar-nav .nav-link.active{ 
    margin: 50px; 
}